* {
    box-sizing: border-box;
    background-color: aquamarine;
}

body {
    display:flex;
    position: relative;
    justify-content: center;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

center {
    width: 100%;
}

.container_mainHeader {
    display:flex;
    position: relative;
    align-items: center;
}

.container_content {
    display: flex;
    position: relative;
    flex-direction:row;
    justify-content: space-evenly;
}

.container_header {
    display:flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0px;
    height: 100%;
    align-items: center;
}

.container_items{
    display:flex;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    align-items: center;

}

.container_list, .container_itemSearch, .container_itemAdd {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 0.8em;
}

.journal {
    display: flex;
    position:relative;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content{
    margin-top: 25px;
    display: flex;
    position: relative;
    flex-direction:row;
    justify-content: space-evenly; 
}


hr {
    height: 0.5px;
    background-color: black;
    border: none;
}

table {
    margin: 0 auto;
    border-spacing: 15px 0;
    font-size: 0.7em;
}

th, td {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 0.7em;
    border: 1px solid black;
    margin: 5px 0;
}

.btn {
    cursor: pointer;
}

.btn:hover{
    opacity: 0.5;
}

.btn:active{
    font-weight: bold;
}

.headerFind {
    margin: 0;
    margin-bottom: 5px;
}

.dl {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
}

.searchitems {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.booksSearch, .booksView, .readersSearch, .readersView {
    margin: 10px;
}

.books, .readers {
    width: 100%;
}

.giveOut table {
    border-spacing: 0;
}

.giveOut td, .giveOut th {
    border: 1px solid black;
}

.giveOutBtn {
    border: none; 
    width: 100%; 
    cursor: pointer;
}

.giveOutBtn:hover {
    color: blue;
}

.journal {
    border-spacing: 0;
    border: none;
}

.journal tr, .journal th, .journal td {
    border: 1px solid black;
    padding: 5px;
}

.journal input {
    border: none; 
    width: 100%; 
    cursor: pointer;
}

.journal input:hover {
    color: blue;
}